<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="<%=data.host%>/css/style.css" />
    <% if(data.cssFix){ %>
    <link rel="stylesheet" href="<%=data.host%>/css/cssFix.css" />
    <% } %>
  </head>
  <body>
    <img class="qr-image" src="<%= data.src %>" alt="" />
    <div class="main">
      <div class="logo logo__hr logo__rj">
        <img src="<%=data.host%>/images1/RAJ_LOGO.png" alt="" />
      </div>
      <div class="content">
        <div class="content__top">
          <h3 class="content__heading">GOVERNMENT OF RAJASTHAN</h3>
          <p class="content__title">Department of Transport</p>
          <p class="content__desc">Checkpost Tax e-Receipt</p>
        </div>

        <table class="rj">
          <tr class="r1 r11">
            <td class="r1-1">Registration No.</td>
            <td class="r1-2">: <b><%=data.vehicleNo%></b></td>
          </tr>
          <tr class="r1 r12">
            <td class="r1-1">Receipt No.</td>
            <td class="r1-2">: <%=data.receiptNo%></td>
          </tr>
          <tr class="r1 r13">
            <td class="r1-1">Payment Date</td>
            <td class="r1-2">: <%=data.paymentDate%></td>
          </tr>
          <tr class="r1 r14">
            <td class="r1-1">Owner Name</td>
            <td class="r1-2">: <%=data.ownerName%></td>
          </tr>
          <tr class="r1 r15">
            <td class="r1-1">Chassis No.</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.chassisNo%></td>
            <td class="r1-3">Tax Mode</td>
            <td class="r1-4">&nbsp;&nbsp;: <%=data.taxMode%></td>
          </tr>
          <tr class="r1 r16">
            <td class="r1-1">Vehicle Type</td>
            <td class="r1-2">
              &nbsp;&nbsp;:
              <div class="r16-3"><%=data.vehiclePermitType%></div>
            </td>
            <td class="r1-3">Vehicle Class</td>
            <td class="r1-4">&nbsp;&nbsp;: <%=data.vehicleClass%></td>
          </tr>
          <tr class="r1">
            <td class="r1-1">Mobile No.</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.mobileNo%></td>
            <td class="r1-3">Checkpost Name</td>
            <td class="r1-4">&nbsp;&nbsp;: <%=data.checkpostName%></td>
          </tr>
          <% if(data.vehiclePermitType === 'GOODS VEHICLE'){ %>

          <tr class="r1">
            <td class="r1-1">Unladen Weight</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.unladenWeight%> kg</td>
            <td class="r1-3">Laden Wright</td>
            <td class="r1-4">&nbsp;&nbsp;: <%=data.grossVehicleWeight%> Kg</td>
          </tr>
          <% }else{ %>

          <tr class="r1">
            <td class="r1-1">Sleeper Cap.</td>
            <td class="r1-2">
              &nbsp;&nbsp;: <%=data.sleeperCapacityExcludingDriver%>
            </td>
            <td class="r1-3">
              Seating Cap(Ex. <br />
              Driver
            </td>
            <td class="r1-4">
              &nbsp;&nbsp;: <%=data.seatingCapacityExcludingDriver%>
            </td>
          </tr>
          <% } %>
          <tr class="r1">
            <td class="r1-1">Bank Ref. No.</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.rjBankRefNo%></td>
            <td class="r1-3">Payment Mode</td>
            <td class="r1-4">&nbsp;&nbsp;: <%=data.paymentMode%></td>
          </tr>

          <tr class="r1">
            <td class="r1-1">Service Type</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.serviceType%></td>
          </tr>
          <tr class="r1">
            <td class="r1-1">Permit Type</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.permitType%></td>
            <td class="r1-3">Permit Category</td>
            <td class="r1-4">&nbsp;&nbsp;:</td>
          </tr>
        </table>

        <div class="content__money">
          <div class="content__money-r1 d-flex">
            <div class="m1"><b>Particular</b></div>
            <div class="m2"><b>Fees/Tax</b></div>
            <div class="m3"><b>Fine</b></div>
            <div class="m4"><b>Total</b></div>
          </div>
          <% if (data.counterSignatureFree){ %>
          <div class="content__money-r2 content__money-r2-border d-flex">
            <div class="m1">
              MV Tax( <%=data.taxFrom_raj%> to <%=data.taxTo_raj%> )
            </div>
            <div class="m2"><%=data.mvTax%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.mvTax%></div>
          </div>
          <div class="content__money-r2 content__money-r2-border d-flex">
            <div class="m1">Counter Signature Free</div>
            <div class="m2"><%=data.counterSignatureFree%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.counterSignatureFree%></div>
          </div>
          <div class="content__money-r2 d-flex">
            <div class="m1">Surcharge Fee</div>
            <div class="m2"><%=data.surChargeFee%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.surChargeFee%></div>
          </div>

          <% }else{ %>
          <div class="content__money-r2 content__money-r2-border d-flex">
            <div class="m1">
              MV Tax( <%=data.taxFrom_raj%> to <%=data.taxTo_raj%> )
            </div>
            <div class="m2"><%=data.mvTax%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.mvTax%></div>
          </div>
          <div class="content__money-r2 d-flex">
            <div class="m1">Surcharge Fee</div>
            <div class="m2"><%=data.surChargeFee%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.surChargeFee%></div>
          </div>
          <% } %>
        </div>

        <div class="content__grand content__grand--hr">
          <p>
            <span><b>Grand Total :</b></span> ₹ <%=data.totalAmount%>/- (
            <%=data.totalAmountInWord%> )
          </p>
          <p>
            <i
              >Note : 1) This is a computer generated printout and no signature
              is required</i
            >
          </p>
          <p>
            <i>
              2) Incorrect mentioning of vehicle class or seating capacity may
              lead to tax evasion and defaulter shall be a liable for penal
              action.
              <br />
              <br />
              you will also receive the payment confirmation message.
            </i>
          </p>
        </div>
      </div>

      <div class="content__back">
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
      </div>
    </div>
  </body>
</html>
