<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="<%=data.host%>/css/style.css" />
    <% if(data.cssFix){ %>
    <link rel="stylesheet" href="<%=data.host%>/css/cssFix.css" />
    <% } %>
  </head>

  <body>
    <img class="qr-image" src="<%= data.src %>" alt="" />
    <div class="main__printing">
      Receipt Printing Date:
      <br />
      <%=data.receiptDate%>
    </div>
    <div class="main">
      <div class="logo logo__pj">
        <img src="<%=data.host%>/images1/PJ_LOGO_1.png" alt="" />
      </div>
      <div class="content">
        <div class="content__top">
          <h3 class="content__heading">GOVERNMENT OF PUNJAB</h3>
          <p class="content__title">Department of Transport</p>
          <p class="content__desc">Checkpost Tax e-Receipt</p>
        </div>

        <table class="pb">
          <tr class="r1 r11">
            <td class="r1-1">Registration No.</td>
            <td class="r1-2">: <b><%=data.vehicleNo%></b></td>
          </tr>
          <tr class="r1 r12">
            <td class="r1-1">Receipt No.</td>
            <td class="r1-2">: <%=data.receiptNo%></td>
          </tr>
          <tr class="r1 r13">
            <td class="r1-1">Payment Date</td>
            <td class="r1-2">: <%=data.paymentDate%></td>
          </tr>
          <tr class="r1 r14">
            <td class="r1-1">Owner Name</td>
            <td class="r1-2">: <%=data.ownerName%></td>
          </tr>
          <tr class="r1 r15">
            <td class="r1-1">Chassis No.</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.chassisNo%></td>
            <td>Tax Mode</td>
            <td>&nbsp;&nbsp;: <%=data.taxMode%></td>
          </tr>
          <tr class="r1 r16">
            <td class="r1-1">Vehicle Type.</td>
            <td class="r1-2">
              &nbsp;&nbsp;:
              <div class="r16-3"><%=data.vehiclePermitType%></div>
            </td>
            <td>Vehicle Class</td>
            <td>&nbsp;&nbsp;: <%=data.vehicleClass%></td>
          </tr>
          <tr class="r1 r17">
            <td class="r1-1">Mobile No.</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.mobileNo%></td>
            <td class="r1-1">Checkpost Name</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.checkpostName%></td>
          </tr>
          <tr class="r1 r18">
            <td class="r1-1">Sleeper Cap.</td>
            <td class="r1-2">&nbsp;&nbsp;: 0</td>
            <% if(data.vehiclePermitType === 'GOODS VEHICLE'){ %>
            <td>Gross Weight</td>
            <td>&nbsp;&nbsp;: <%=data.grossVehicleWeight%> KG.</td>
            <% }else{ %>
            <td>
              Seating Cap(Ex. <br />
              Driver
            </td>
            <td>&nbsp;&nbsp;: <%=data.seatingCapacityExcludingDriver%></td>
            <% } %>
          </tr>
          <tr class="r1 r19">
            <td class="r1-1">Bank Ref. No.</td>
            <td class="r1-2">&nbsp;&nbsp;: NA</td>
            <td>Payment Mode</td>
            <td>&nbsp;&nbsp;: <%=data.paymentMode%></td>
          </tr>
          <tr class="r1 r20">
            <td class="r1-1">Service Type</td>
            <td class="r1-2">&nbsp;&nbsp;: <%=data.serviceType%></td>
          </tr>
          <tr class="r1 r21">
            <td class="r1-1">Permit Type</td>
            <td class="r1-2">&nbsp;&nbsp;:</td>
            <td>Permit Category</td>
            <td>&nbsp;&nbsp;:</td>
          </tr>
        </table>

        <div class="content__money">
          <div class="content__money-r1 d-flex">
            <div class="m1"><b>Particular</b></div>
            <div class="m2"><b>Fees/Tax</b></div>
            <div class="m3"><b>Fine</b></div>
            <div class="m4"><b>Total</b></div>
          </div>
          <div class="content__money-r2 content__money-r2-border d-flex">
            <div class="m1">MV Tax( <%=data.taxFrom%> to <%=data.taxTo%> )</div>
            <div class="m2"><%=data.taxAmount%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.taxAmount%></div>
          </div>
          <div class="content__money-r2 content__money-r2-border d-flex">
            <div class="m1">Service/User charge</div>
            <div class="m2"><%=data.userCharge%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.userCharge%></div>
          </div>
          <div class="content__money-r2 d-flex">
            <div class="m1">Civic Infra Cess</div>
            <div class="m2"><%=data.infraCess%></div>
            <div class="m3">0</div>
            <div class="m4"><%=data.infraCess%></div>
          </div>
        </div>

        <div class="content__grand content__grand--pb">
          <p>
            <span><b>Grand Total :</b></span> ₹ <%=data.totalAmount%>/- (
            <%=data.totalAmountInWord%> )
          </p>
          <p>
            <i
              >Note : 1) This is a computer generated printout and no signature
              is required</i
            >
          </p>
          <p>
            <i>
              2) Incorrect mentioning of vehicle class or seating capacity may
              lead to tax evasion and defaulter shall be a liable for penal
              action. <br /><br />
              you will also receive the payment confirmation message.
            </i>
          </p>
          <br />
          <br />
          <p class="main__warning">
            Scan the QR code for genuinity of the receipt, It should land at
            <span><u>https://kms.privahan.gov.in</u></span> <br />
          </p>
          <div class="main__warning main__warning-2">
            site. In case the URL is different, then receipt could be a fake
            one, please raise a complain.
          </div>
        </div>
        <br />
      </div>

      <div class="content__back">
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
        <p>
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span> &nbsp;
          <span><%=data.vehicleNo%> / <%=data.paymentDate%>,</span>
        </p>
      </div>
    </div>
  </body>
</html>
